mixin list(name,url,t)
    -var c = ( t === type ? 'active' : '' )
    li( class=c )
        a( href=url ) #{name}
header#header.navbar.navbar-default.navbar-enen.navbar-fixed-top( role='navigation' )
    #header-background
    .container
        #hidden
            .row#login-panel
                .col-md-3.col-xs-12
                    form.row#header-login-form
                        .form-group.col-md-12
                            .input-group.input-group-sm
                                .input-group-addon 用户名／邮箱
                                input.username.form-control( type='text' )
                        .form-group.col-md-12
                            .input-group.input-group-sm
                                .input-group-addon 　密　　码　
                                input.password.form-control( type='password' )
                        .form-group.col-md-12
                            .btn-group.btn-group-sm.auth
                                a.btn.btn-default 快捷登录
                                a.btn.btn-default( href='/auth/github' )
                                    i.fa.fa-github
                            a.btn.btn-default.btn-sm.pull-right( data-toggle='button' ) 记住
                        .col-md-12
                            input#login-panel-btn.btn.btn-default.btn-sm.pull-right( role='button' type='submit' value='　登　录　' data-loading-text='　登　录　' )
            .row#signup-panel
                .col-md-3.col-xs-12
                    .row
                        .form-group.col-md-12
                            .input-group.input-group-sm
                                .input-group-addon 用户名
                                input.username.form-control( type='text' )
                        .form-group.col-md-12
                            .input-group.input-group-sm
                                .input-group-addon 邮　箱
                                input.email.form-control( type='text' )
                        .form-group.col-md-12
                            .input-group.input-group-sm
                                .input-group-addon 密　码
                                input.password.form-control( type='password' )
                        .col-md-12
                            a.btn.btn-default.btn-sm.pull-right( href='javascript:' role='button' ) 　注　册　
            -if( user )
                .row#user-panel
                    .col-md-4.col-xs-12
                        .row
                            .col-md-4
                                img.img-thumbnail.img-responsive( src='/api/user/#{ user._id }/avatar/100' alt='#{user.username}' )
                            .col-md-8
                                .row
                                    div#user-panel-username-wrap
                                        h3#user-panel-username.text-right #{ user.username }
                                    a#logout( href='/logout' ) 退出
                                p 一些介绍
                            .col-md-12
                                p 这里是一些其它内容
                    .col-md-8
                        .row
                            .col-md-12
        .navbar-header
            button.navbar-toggle( type='button' data-toggle='collapse' data-target='.navbar-collapse' )
                span.sr-only 展开
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a#name-logo.navbar-brand( href='/' ) 嗯嗯
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                +list( '广场', '/show', 'show' )
                +list( '文章', '/article', 'article' )
            ul.nav.navbar-nav.navbar-right#nav-user
                - if( user ){
                li
                    button#user-btn.btn.btn-default.navbar-btn.btn-sm #{user.username}
                - }else{
                li
                    button#login-btn.btn.btn-default.navbar-btn.btn-sm 登　录
                li
                    button#signup-btn.btn.btn-default.navbar-btn.btn-sm 注　册
                -}